.events-page {
  padding: 30px;
  font-family: inherit;
}
.events-Main h1{
    font-size: 40px;
}
.events-Main{
  margin-left: 30px;
  padding-top: 20px;
}

.subtitle-event {
  color: #666;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 17px;
}

.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.search-box {
    background: rgb(249,250,251);
  display: flex;
  align-items: center;
  gap: 8px;
  height: 25px;
  border: 1px solid #ddd;
  padding: 8px 10px;
  border-radius: 7px;
  font-size: 20px;
  width: 450px;
}

.search-box input {
  font-size: 15px;
  border: none;
  outline: none;
  width: 100%;
}

select {
  background: rgb(249,250,251);
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  height: 40px;
  width: 100px;
  
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 12px;
  width: 50vw;
  height: auto;
  padding-bottom: 10px;
}


.event-card {
  flex: 0 0 180px;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}
.event-card:hover {
  transform: translateY(-5px);
}

.event-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.event-content {
  padding: 15px;
}

.badge {
  display: inline-block;
  background: #eef2ff;
  color: #3730a3;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
  width: auto;
  height: auto;
}

.desc {
  font-size: 14px;
  color: #666;
  margin: 8px 0;
}

.info span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  color: #555;
  margin-top: 4px;
}

.btn-event {
  display: block;
  text-align: center;
  margin-top: 12px;
  padding: 8px;
  background: #2563eb;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
}

.btn:hover {
  background: #1d4ed8;
}

.empty {
  margin-top: 40px;
  text-align: center;
  color: #777;
}
.btn-event:disabled{
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}
