body{
     font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
     
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(246, 246, 246, 0.9);
  border-bottom: 1px solid #ededed;
  backdrop-filter: blur(7px);
  z-index: 9999;

  transform: translateY(0);
  transition: transform 0.3s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 3rem;
}
.logo {

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.logo img{
  align-items: center;
  justify-content: center;
}

.logo-icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4f46e5;
  color: white;
  border-radius: 9px;
  margin-right: 8px;
}

.logo-text {
  font-size: 1.25rem;
}

/* Desktop links */
.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: #7c838f;
  font-weight: 500;
}

.nav-link:hover {
  color: #000;
  transition: all 0.2s ease-out;
}


.auth-buttons {
  display: flex;
  gap: 0.5rem;
}

.btn {
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}

.btn-ghost {
  display: flex;
  justify-content: center;
  border: 1px solid #e1e1e1;
  width: 100px;
  display: flex;
  align-items: center;
  background: white;
  color: #555;
  border-radius: 13px;
  font-size: 15px;
}

.btn-ghost:hover {
  transition: all 0.3s ease;
  background-color: #e6e5ff;
  color: #4338ca;
}

.btn {
  background: #4f46e5;
  color: white;
  border-radius: 9px;
  font-size: 17px;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-Nav{
  background: #4f46e5;
  color: white;
  border-radius: 9px;
  font-size: 17px;
  height: 40px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.btn-Nav:hover{
  background-color: #6558ee;
  transition: all 200ms ease;
}
.btn-primary:hover {
  background: #4338ca;
  border-radius: 16px;
}

.mobile-menu-btn {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile menu */
.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.mobile-nav-link {
  text-decoration: none;
  color: #555;
  padding: 0.5rem 0;
}

.mobile-nav-link:hover {
  color: #000;
}

.mobile-auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links,
  .auth-buttons {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
  }
}
